@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: #FF8811;
    background-color: #221E22
}

title {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: #FF8811;
    background-color: #221E22
}


.flexbox {
    background-color: #FF8811;
}

ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em 
}

h1 {
    color: #221E22;
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif 
        }