@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: #F7FFF7;
    background-color: #292F36 }
ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }